body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex text{
    display: flex;
    flex-direction: row;
}

.star{
    width: 100px;
    height: 25px;
}

.btn{
    background-color: #f9234a;
    outline-color: #f9234a;
    color: #fff;
    margin-left: auto;
    align-self: center;
    margin-right: 12px;
}

.btn:hover{
    color: #e5e5e5
}

.card{
    width: flex;
    height: flex;
    margin-top: 10px;
    display: inline-block;
    box-shadow: 0px 8px 10px 0px rgba(10,31,68,0.1) !important;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-body{
    padding-left: 48px;
}

.card-text{
    color: #424749;
    font-size: 20px;
    margin-top: 24px;
}

.card-desc{
    color: #6e7679;
    font-size: 14px;
}

.overflow{
    overflow: hidden;
    width: 400px;
    height: 324px;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(1.8);
}