@font-face {
  src: url(fonts/ProximaNova-Regular.otf);
  font-family: prox;
}

.App{
  width: 375px;
  margin: 0 auto;
}

.modal{
  display: flex;
  flex-direction: column;
}

.modalBody{
  font-weight: 12px;
  align-self: center;
}

.arrow{
  margin-top: 10px;
  width: 35px;
  height: 35px;
}

.address{
  font-size: 12px;
}

.mapClick{
  font-family: prox;
  font-size: 20px;
  font-weight: bold;
}

.arrowdown{
  margin-left: 15px;
  width: 25px;
  height: 25px;
}

.flexrow{
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}

.Maps{
  margin-left: 25px;
}

.Topbar{
  display: flex;
  flex-direction: row;
}

.Date{
  color: #6e7679;
  margin-top: 48px;
  margin-left: 8px;
  font-size: 24px;
  font-weight: bold;
}

.Date2{
  color: #6e7679;
  margin-top: 40px;
  margin-left: 8px;
  font-size: 24px;
  font-weight: bold;
}

.Tabs {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: row;
  justify-content: center;
}

body, div {
  font-family: prox;
}



