@font-face {
  src: url(fonts/ProximaNova-Regular.otf);
  font-family: prox;
}

.App{
  width: 375px;
  margin: 0 auto;
}

.Date{
  margin-top: 40px;
  margin-left: 8px;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.75;
}

.Date2{
  margin-top: 40px;
  margin-left: 8px;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.75;
}

.Tabs {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: row;
  justify-content: center;
}

body, div {
  font-family: prox;
}



